.top{
    position: fixed;
    top: -15vh;

}

.navbar{
    background-color: #FFFFFF;
    height:5vh;
    column-count: 2;
    padding: 0.9vh 0;
    font-size: 3vh;
    text-align: center;
    white-space: nowrap;
}

.navbar Text{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 0.5vw;
    border-radius: 20pt;
    text-decoration: none;
    color: black;
    padding: 5px 5vw;
    line-height: 5vh;
}

.memoryActive{
    width: 15vh;
    height: 4vh;
    background: #a2d2a05d;
    box-shadow: 0rpx 5rpx 11rpx 2rpx rgba(0,0,0,0.16), inset 0rpx 5rpx 11rpx 2rpx rgba(0,0,0,0.16);
    border-radius: 23rpx 23rpx 23rpx 23rpx;
}